<section id="configuration">
			<header data-title="" class="language" id="language_configuration_header_title">
				<nav>
					<a href="#aside" data-router="aside" data-icon="menu"></a>
				</nav>
			 </header>
			 <article id="list" class="active list indented scroll">
				<div class="form">
					<p class="language" id="language_configuration_confuguration_parragraph"> </p>				
					<fieldset>
						<label class="language" id="language_configuration_phone_label"></label>
						<input type="text" id="configuration_phone"/>
					</fieldset>
					<label class="language" id="language_configuration_language_label"></label>
					<fieldset>
					<label class="select">
						<select class="custom" id="configuration_language_select">
							<option value="0">English</option>
							<option value="1">Espa&ntilde;ol</option>                        
						</select>
					</label>	
					</fieldset>
				<br>
				</div>
				<div class="buttonBar">
					<a class="button language" onclick="saveConfiguration()" id="language_configuration_save_action"></a>
					<a href="#main" class="button language" data-router="section" id="language_configuration_cancel_action"></a>				
				</div>
			</article>						
		</section>