<section id="delete_routine">
			<header data-title="" class="language" id="language_delete_routine_header_title">
				<nav>
					<a href="#aside" data-router="aside" data-icon="menu"></a>
				</nav>
			 </header>
			 <article id="list" class="active list indented scroll">
				<ul id="delete_routines_list">										
				</ul>
			</article>
		</section>

		<section id="confirm_delete_routine">
			<header data-title="" class="language" id="language_confirm_delete_routine_header_title">
				<nav>
					<a href="#aside" data-router="aside" data-icon="menu"></a>
				</nav>
			 </header>
			 <article id="list" class="active list indented scroll">
				<p id="confirm_delete_routine_p"> </p>
				<a id="button_ok_confirm_delete_routine" class="button centered, language" ></a>	
				<a id="button_cancel_confirm_delete_routine" class="button centered, language" href="#main" data-router="section"></a>	
			</article>			
		</section>