<section id="initial">			
		 <article id="initial_list" class="active list indented"  style="background:rgb(125, 154, 247);">
			<div id="div_initial_configuration_id" style="display:none;">
				<div style="margin:0 auto 0 auto;width:221px;">
				<img src="components/images/logo.png" /> 
				</div>
				<br>
				<div class="form">
								
				<input type="text" id="initial_configuration_phone" style="background:rgb(255, 255, 255);color:rgb(187, 179, 179);margin-top: 50px;" value="Phone"/>
				
                <label class="select" style="margin-top: 20px;">
                    <select class="custom" id="initial_configuration_language_select">
                        <option value="0">English</option>
                        <option value="1">Espa&ntilde;ol</option>                        
                    </select>
                </label>
				
			</div>
			<div style="width:100%; margin-top: 40px;">
				<a class="button" onclick="storeInitialConfiguration();" style="width:100%">Accept</a>				
				</div>
			</div>
			
		</article>
	</section>	