<aside id="aside">
			<header data-title="Options" class="language" id="language_menu_header_title"></header>
			<article class="active list">
				<ul>
					<li class="arrow">
						<a href="#main" data-router="section" class="language" id="language_menu_show_routines"><strong></strong></a>
					</li>
					<li class="arrow">
						<a href="#new_routine" data-router="section" class="language" id="language_menu_new_routine"><strong></strong></a>
					</li>
					<li class="arrow">
						<a href="#delete_routine" data-router="section" class="language" id="language_menu_delete_routine"><strong></strong></a>
					</li>
					<li class="arrow">
						<a href="#configuration" data-router="section" class="language" id="language_menu_configuration" onclick="updateConfigurationData();"><strong></strong></a>
					</li>
					<li class="arrow">
						<a href="#help" data-router="section" class="language" id="language_menu_help"><strong></strong></a>
					</li>
				</ul>
			</article>
		</aside>