<section id="show_routine">
	<header data-title="Show Routine" class="language" id="language_show_routine_header_title"> 
		<nav>
			<a href="#aside" data-router="aside" data-icon="menu"></a>
		</nav>
	</header>
	<article id="form-normal" class="active list scroll">		        
		<ul id="show_routine_list"></ul>        		       
	</article>
</section>
	
	
<section id="show_routine_info">
	<header data-title="Show Routine" class="language" id="language_show_routine_header_title"> 
		<nav>
			<a href="#aside" data-router="aside" data-icon="menu"></a>
		</nav>
	</header>
	<article id="form-normal" class="active list scroll">		        
		<div class="form">			
			
			<fieldset>
				<label class="language" id="language_show_routine_name"></label>
				<label type="text" id="show_routine_data_name" value=""/>
			</fieldset>
			<fieldset>
				<label class="language" id="language_show_routine_done_by"></label>
				<label type="text" id="show_routine_data_done_by" value=""/>
			</fieldset>		            
			<fieldset>
				<label class="language" id="language_show_routine_from"></label>
				<label type="text" id="show_routine_data_from" value=""/>
			</fieldset>		  
			<fieldset>
				<label class="language" id="language_show_routine_to"></label>
				<label type="text" id="show_routine_data_to" value=""/>
			</fieldset>	
			<fieldset>
				<label class="language" id="language_show_routine_description"></label>
				<label type="text" id="show_routine_data_description" value=""/>
			</fieldset>						
		
		</div>
	</article>
</section>		
		
		
<section id="show_exercise_info">
	<header data-title="Show Routine" class="language" id="language_show_routine_header_title"> 
		<nav>
			<a href="#aside" data-router="aside" data-icon="menu"></a>
		</nav>
	</header>
	<article id="form-normal" class="active list scroll">		        
		<p> show exercise info</p>
	</article>
</section>				